<template>
<div class="container">

  <form width="70%" @submit.prevent="aboutme">
    <div class="heading" v-show="!dis">
      <h1 class="title is-3">About me</h1>
      <hr/>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Firstname</label>
          <div class="control">
            <input name="firstname" class="input" type="text" v-model="user.firstname" disabled/>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label">Lastname</label>
          <div class="control">
            <input name="lastname" class="input" type="text" v-model="user.lastname" disabled/>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Birthday</label>
          <div class="control">
            <input name="birthday" class="input" type="text" v-model="user.birthday" disabled/>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label">Weight</label>
          <div class="control">
            <input name="weight" class="input" type="text" v-model="about_me.weight" :disabled="dis"/>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label">Height</label>
          <div class="control">
            <input name="height" class="input" type="text" v-model="about_me.height" :disabled="dis" />
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">

        <div class="field">
          <label class="label">Gender</label>
          <p class="control">
            <label class="radio">
              <input name="gender" type="radio" value="m" v-model="user.gender" disabled>
              M
            </label>
            <label class="radio">
              <input name="gender" type="radio" value="f" v-model="user.gender" disabled>
              F
            </label>
          </p>
        </div>

      </div>
    </div>

    <h2 class="title is-3">Address</h2>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">State</label>
          <div class="control">
            <input name="state" class="input" type="text" v-model="user.state" disabled/>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label">City</label>
          <div class="control">
            <input name="state" class="input" type="text" v-model="user.city" disabled/>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Address</label>
          <div class="control">
            <input name="address" class="input" type="text" v-model="user.address" disabled/>
          </div>
        </div>
      </div>
    </div>

    <h2 class="title is-3">Contact</h2>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Tel</label>
          <div class="control">
            <input name="tell" class="input" type="text" v-model="about_me.tell" :disabled="dis"/>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label">Cel</label>
          <div class="control">
            <input name="cell" class="input" type="text" v-model="about_me.cell" :disabled="dis"/>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input name="email" class="input" type="text" v-model="user.email" disabled/>
          </div>
        </div>
      </div>
    </div>

    <h2 class="title is-3">Other info</h2>

    <div class="columns">
      <div class="column">

        <div class="field">
          <label class="label">Religion</label>
          <div class="control">
            <input name="religion" class="input" type="text" v-model="about_me.religion" :disabled="dis"/>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label">Parents or legal tutors email</label>
          <div class="control">
            <input name="tutor_email" class="input" type="text" v-model="about_me.tutor_email" :disabled="dis"/>
          </div>
        </div>

      </div>
    </div>


    <div class="columns">
      <div class="column">

        <div class="field">
          <label class="label">How often do you participate to religious celebrations?</label>
          <p class="control">
            <label class="radio">
              <input name="religion_celebrations" type="radio" value="3" v-model="about_me.religion_celebrations">
              Often
            </label>
            <label class="radio">
              <input name="religion_celebrations" type="radio" value="2" v-model="about_me.religion_celebrations">
              Occasionally
            </label>
            <label class="radio">
              <input name="religion_celebrations" type="radio" value="1" v-model="about_me.religion_celebrations">
              Rarely
            </label>
          </p>
        </div>

      </div>
    </div>

    <server-response :callRes="this.callRes" :postError="this.post_errors"></server-response>

  </form>
  <button name="submit" class="button is-primary" @click="save" v-if="!dis">Save Changes</button>

</div><!-- container -->
</template>

<script>
import http from '../services/http'
import jwt from '../services/jwt'
import ServerResponse from './organisms/ServerResponse'

export default {
  components: {
    'server-response': ServerResponse
  },
  name: 'about_me',
  props: {
    dis: {
      default: false
    },
    id: {
      default: 0
    }
  },
  data () {
    return {
      // user: userStore.state,
      form_name: 'about_me',
      callRes: 0,
      post_errors: [],
      about_me: {
        religion_celebrations: '',
        tell: '',
        cell: '',
        tutor_email: '',
        height: '',
        religion: '',
        weight: ''
      },
      user: {
        type: '',
        firstname: '',
        lastname: '',
        email: '',
        email_confirmation: '',
        password: '',
        password_confirmation: '',
        birthday: '',
        gender: '',
        state: '',
        city: '',
        address: ''
      }
    }
  },
  watch: {
    '$route': 'init'
  },
  created () {
    this.init()
  },
  methods: {
    init () {
      this.getFormData()
    },
    async save () {
      try {
        http.post('/about_me', { user: this.about_me }, ({ data }) => {
          if (data.hasOwnProperty('result')) {
            this.callRes = 1
          } else if (data.hasOwnProperty('errors')) {
            this.callRes = 2
            this.post_errors = data.errors
          }
        })
      } catch (err) {
        this.callRes = 3
      }
    },
    getFormData () {
      try {
        this.getRes = 4
        http.get('/' + this.form_name + (this.dis ? '/' + this.id : ''), ({ data }) => {
          if (data[this.form_name] != null) this[this.form_name] = data[this.form_name]
          this.getRes = 1
        })
        http.get('/users/' + (this.dis ? this.id : jwt.getValueFromKey('user_id')), ({ data }) => {
          if (data.user != null) this.user = data.user
          this.getRes = 1
        })
      } catch (err) {
        this.getRes = 3
      }
    }
  }
}
</script>
