<template>
  <div>
    <h1 class="title">Associate requests</h1>
    <h2 class="subtitle">Associate here incoming students with host families</h2>
    <hr/>
    <div class="columns">
      <div class="column">
        <div class="box" v-if="stud_id != 0">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <h1 class="title is-4">{{ currStud.student_fullname }}</h1>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="column">
        <div class="box" v-if="fam_id != 0">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <h1 class="title is-4">{{ currFam.family_lastname }}</h1>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <button class="button is-primary" @click="associate" :disabled="stud_id == 0 || fam_id == 0">Associate</button>
    <hr/>
    <div class="columns">
      <div class="column">
        <h1 class="subtitle is-3">Choose student</h1>
        <div v-for="request in incoming_students">
          <input type="radio" name="student" v-model="stud_id" :value="request.student_id"></input>
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <h1 class="title is-4">{{ request.student_fullname }}</small></h1>
                </div>
              </div>
            </article>

            <nav class="level">
              <div class="level-left"></div>

              <!-- Right side -->
              <div class="level-right">
                <p class="level-item"><router-link :to="'/home/review_user/' + (request.student_id ? request.student_id : request.family_id)" class="button is-outlined">Review</router-link></p>
              </div>
            </nav>
          </div>
        </div>
      </div>

      <div class="column">
        <h1 class="subtitle is-3">Choose family</h1>
        <div v-for="request in host_families">
          <input type="radio" name="family" v-model="fam_id" :value="request.family_id"></input>
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <h1 class="title is-4">{{request.family_lastname +"'s" }}</h1>
                </div>
              </div>
            </article>

            <nav class="level">
              <div class="level-left"></div>

              <!-- Right side -->
              <div class="level-right">
                <p class="level-item"><router-link :to="'/home/review_user/' + (request.student_id ? request.student_id : request.family_id)" class="button is-outlined">Review</router-link></p>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import http from '../services/http'
import { find, filter } from 'lodash'
import PostEntry from './organisms/PostEntry'
import LoadingPlaceholder from './organisms/LoadingPlaceholder'
import PaginationBar from './organisms/PaginationBar'
import UserRequestEntry from './organisms/UserRequestEntry'

export default {
  components: {
    'pagination-bar': PaginationBar,
    'post-entry': PostEntry,
    'loading-placeholder': LoadingPlaceholder,
    'user-request-entry': UserRequestEntry
  },
  data () {
    return {
      incoming_students: [],
      host_families: [],
      callRes: 0,
      post_error: '',
      total_pages: 1,
      stud_id: 0,
      fam_id: 0,
      current_page: this.$route.query.page || 1,
      pages: []
    }
  },
  computed: {
    currStud () {
      return find(this.incoming_students, { student_id: this.stud_id })
    },
    currFam () {
      return find(this.host_families, { family_id: this.fam_id })
    }
  },
  watch: {
    // Refresh component when route changes
    '$route': 'getPosts'
  },
  created () {
    this.init()
  },
  methods: {
    init () {
      this.getIncomingStudents()
      this.getFamilies()
    },
    getIncomingStudents () {
      try {
        this.callRes = 4
        http.get('/incoming_students', ({ data }) => {
          this.incoming_students = data.requests
          this.total_pages = data.total_pages
          this.callRes = 1
        })
      } catch (err) {
        this.callRes = 3
      }
    },
    getFamilies () {
      try {
        this.callRes = 4
        this.current_page = this.$route.query.page || 1
        http.get('/request/family/accepted?page=' + this.current_page, ({ data }) => {
          this.host_families = data.requests
          this.total_pages = data.total_pages
          this.callRes = 1
        })
      } catch (err) {
        this.callRes = 3
      }
    },
    associate () {
      try {
        http.post('/handle_request', {
          family_id: this.currFam.family_id,
          student_id: this.currStud.student_id,
          family_lastname: this.currFam.family_lastname,
          student_fullname: this.currStud.student_fullname,
          student_state: this.currStud.student_state,
          student_city: this.currStud.student_city,
          family_city: this.currFam.family_city
        }, ({data}) => {
          this.stud_id = 0
          this.fam_id = 0
          this.incoming_students = filter(this.incoming_students, { student_id: this.stud_id })
          this.host_families = filter(this.host_families, { family_id: this.fam_id })
        })
      } catch (e) {

      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
