<template>
  <div>
    <h1 class="title">Create Event</h1>
    <h2 class="subtitle">Add a new event</h2>

    <div class="user-scope">
      <input name="title" class="text-input event-name" placeholder="Input the event name here..." type="text" v-model="event.title" />
      <input name="place" class="text-input event-place" placeholder="Space Needlem, Seattle" type="text" v-gmaps-searchbox="gmaps" />
      <datepicker name="date" class="text-input event-date" v-model="event.date" placeholder="Select date" :config="{ dateFormat: 'd-m-Y', static: true, minDate: 'today' }"></datepicker>
      <textarea class="textarea" placeholder="Some information about the event" v-model="event.description"></textarea>
      <server-response :callRes="this.callRes" :postError="this.post_errors"></server-response>
    </div>

    <!-- Main container -->
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-5">
            <strong>Have</strong> fun
          </p>
        </div>
      </div>

      <!-- Right side -->
      <div class="level-right">
        <p class="level-item"><a name="submit" @click="submitHandler" class="button is-primary">Create Event</a></p>
      </div>
    </nav>

  </div>
</template>
<script>
import http from '../services/http'
import router from '../router'
import ServerResponse from './organisms/ServerResponse'
import Datepicker from 'vue-bulma-datepicker'

export default {
  props: ['action'],
  components: {
    'server-response': ServerResponse,
    'datepicker': Datepicker
  },
  data () {
    return {
      event: {
        title: '',
        description: '',
        place: '',
        date: ''
      },
      callRes: 0,
      getRes: 0,
      post_errors: '',
      gmaps: {
        searchPlace: '',
        location: ''
      }
    }
  },
  watch: {
    '$route': 'init'
  },
  created () {
    this.init()
  },
  methods: {
    init () {
      if (this.action === 'edit') {
        this.getEvent()
      }
    },
    async submitHandler (e) {
      e.preventDefault()
      try {
        this.callRes = 4
        this.event.place = this.gmaps.place.formatted_address
        if (this.action === 'edit') {
          http.put('/event/' + this.event.id, { event: this.event }, ({ data }) => {
            if (data.hasOwnProperty('result')) {
              this.callRes = 1
              router.push('/home/events')
            } else if (data.hasOwnProperty('error')) {
              this.callRes = 2
              this.post_errors = data.errors
            }
          })
        } else {
          http.post('/event', { event: this.event }, ({ data }) => {
            if (data.hasOwnProperty('result')) {
              this.callRes = 1
              router.push('/home/events')
            } else if (data.hasOwnProperty('error')) {
              this.callRes = 2
              this.post_errors = data.errors
            }
          })
        }
      } catch (err) {
        this.callRes = 3
      }
    },
    getEvent () {
      try {
        this.getRes = 4
        http.get('/event/' + this.$route.params.id, ({ data }) => {
          if (data.hasOwnProperty('result')) {
            this.event = data.result
            this.getRes = 1
          } else if (data.hasOwnProperty('error')) {
            this.getRes = 2
            this.post_errors = data.errors
          }
        })
      } catch (err) {
        this.callRes = 3
      }
    }
  }
}
</script>
<style scoped>
.text-input {
  border:0;
  color: #363636;
  font-weight: 300;
  box-shadow: none;
  padding: 0;
  margin: 0;
  height: inherit;
  margin: 0;
}
.event-name {
  font-size: 2rem;
  line-height: 1.125;
  width: 100%;
  margin-bottom: 10px;
}
.event-place {
  font-size: 1.5rem;
  line-height: 1.125;
  width: 100%;
  margin-bottom: 10px;
}
.event-date {
  font-size: 1.5rem;
  line-height: 1.125;
  width: 100%;
  margin-bottom: 20px;
}
input:focus {
  outline:none;
}
.editor {
  padding-bottom: 20px;
}
.user-scope {
  padding-bottom: 20px;
}
</style>
