<template>
  <div>
    <form v-on:submit="submitHandler">
      <input name="title" class="post-title" placeholder="Input title of the post here..." type="text" v-model="post.title" />
      <quill-editor name="content" class="editor" ref="myTextEditor" v-model="post.content"></quill-editor>
      <server-response :callRes="this.callRes" :postError="this.post_errors"></server-response>
      <button name="submit" class="button is-primary" type="submit" v-bind:class="{ 'is-loading': this.callRes === 4 }">Publish</button>
    </form>
  </div>
</template>
<script>
import http from '../services/http'
import router from '../router'
import ServerResponse from './organisms/ServerResponse'

export default {
  props: ['action'],
  components: {
    'server-response': ServerResponse
  },
  data () {
    return {
      post: {
        title: '',
        content: '<h1>Tell us your story</h1>',
        id: 0
      },
      callRes: 0,
      getRes: 0,
      post_errors: ''
    }
  },
  watch: {
    '$route': 'init'
  },
  created () {
    this.init()
  },
  methods: {
    init () {
      if (this.action === 'edit') {
        this.getPost()
      }
    },
    async submitHandler (e) {
      e.preventDefault()
      try {
        this.callRes = 4
        if (this.action === 'edit') {
          http.put('/post/' + this.post.id, { post: this.post }, ({ data }) => {
            if (data.hasOwnProperty('result')) {
              this.callRes = 1
              router.push('/home/posts')
            } else if (data.hasOwnProperty('errors')) {
              this.callRes = 2
              this.post_errors = data.errors
            }
          })
        } else {
          http.post('/post', { post: this.post }, ({ data }) => {
            if (data.hasOwnProperty('result')) {
              this.callRes = 1
              router.push('/home/posts')
            } else if (data.hasOwnProperty('errors')) {
              this.callRes = 2
              this.post_errors = data.errors
            }
          })
        }
      } catch (err) {
        this.callRes = 3
      }
    },
    getPost () {
      try {
        this.getRes = 4
        http.get('/post/' + this.$route.params.id, ({ data }) => {
          if (data.hasOwnProperty('result')) {
            this.post = data.result
            this.getRes = 1
          } else if (data.hasOwnProperty('errors')) {
            this.getRes = 2
            this.post_errors = data.errors
          }
        })
      } catch (err) {
        this.callRes = 3
      }
    }
  }
}
</script>
<style scoped>
.post-title {
  border:0;
  color: #363636;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.125;
  width: 100%;
  margin-bottom: 20px;
}
input:focus {
  outline:none;
}
.editor {
  padding-bottom: 20px;
}
</style>
