<template>
  <div>
    <h1 class="title">Dashboard</h1>
    <h2 class="subtitle">Your control center in a single page</h2>

    <hr />

    <div class="columns">
      <div class="column" v-if="user.current.type != 'Volunteer'">
        <h3 class="title is-4">Status of your request</h3>
        <h4 class="subtitle is-6">Check here the status of your request</h4>

        <article class="message">
        </article>

        <request-status :data="data" :user="user" :request="request" :getRes="getRequestRes"></request-status>

        <div class="badges">
          <span v-show="user.current.type === 'Student'" class="icon is-large"><i v-bind:class="{ 'disabled': !data.about_me.filled }" class="fa fa-user"></i></span>
          <span v-show="user.current.type === 'Student'" class="icon is-large"><i v-bind:class="{ 'disabled': !data.educational_background.filled }" class="fa fa-graduation-cap"></i></span>
          <span class="icon is-large"><i v-bind:class="{ 'disabled': !data.health_lifestyle.filled }" class="fa fa-user-md"></i></span>
          <span v-show="user.current.type === 'Student'" class="icon is-large"><i v-bind:class="{ 'disabled': !data.passport_info.filled }" class="fa fa-id-card"></i></span>
          <span v-show="user.current.type === 'Student'" class="icon is-large"><i v-bind:class="{ 'disabled': !data.program_preference.filled }" class="fa fa-plane"></i></span>
          <span v-show="user.current.type === 'Student'" class="icon is-large"><i v-bind:class="{ 'disabled': !data.my_description.filled }" class="fa fa-pencil"></i></span>
        </div>
        <div class="has-text-centered" v-show="data.uncompleted_sections.length > 0">
          <p>You have to fill {{ data.uncompleted_sections.length }} forms to send your request</p>
        </div>
        <br />

        <div class="level is-mobile" v-if="data.uncompleted_sections.length === 0 && request.status === ''">
          <div class="level is-left">
          </div>
          <div class="level is-right">
            <router-link :disabled="data.uncompleted_sections.length > 0" :to="'my_journey_request'" class="button is-primary right">Send request</router-link>
          </div>
        </div>

      </div>
      <div class="column">
        <h3 class="title is-4">Events</h3>
        <h4 class="subtitle is-6">Check here the status of your request</h4>

        <div v-for="event in events">
          <event-entry :event="event"></event-entry>
        </div>

      </div>
    </div>

    <hr />

    <h3 class="title is-4">May interest you</h3>
    <h4 class="subtitle is-6">Check extraordinary stories form all over the world</h4>

    <div v-for="post in posts">
      <post-entry :post="post" :canEdit="false"></post-entry>
    </div>

  </div>
</template>

<script>
import PostEntry from './organisms/PostEntry'
import EventEntry from './organisms/EventEntry'
import RequestStatus from './organisms/RequestStatus'
import { userStore } from '../stores/user'
import http from '../services/http'
import formData from '../data/data'

export default {
  components: {
    'post-entry': PostEntry,
    'event-entry': EventEntry,
    'request-status': RequestStatus
  },
  watch: {
    '$route': 'init'
  },
  data () {
    return {
      data: formData,
      user: userStore.state,
      family_forms: 2,
      student_forms: 6,
      events: [],
      posts: [],
      request: {
        status: ''
      },
      getRequestRes: ''
    }
  },
  created () {
    this.init()
  },
  methods: {
    init () {
      this.getEvents()
      this.getPosts()
      this.getRequest()
      if (this.user.current.type !== 'Volunteer') this.getData()
    },
    getEvents () {
      try {
        this.callRes = 4
        http.get('/event', ({ data }) => {
          this.events = data.events
          this.callRes = 1
        })
      } catch (err) {
        this.callRes = 3
      }
    },
    getPosts () {
      try {
        this.callRes = 4
        http.get('/post', ({ data }) => {
          this.posts = data.posts
          this.callRes = 1
        })
      } catch (err) {
        this.callRes = 3
      }
    },
    getData () {
      try {
        this.callRes = 4
        http.get('/data', ({ data }) => {
          Object.keys(this.data).forEach((k) => { this.data[k].filled = true })
          this.data.uncompleted_sections = data.data.uncompleted_sections
          this.data.uncompleted_sections.forEach((form) => {
            this.data[form]['filled'] = false
          })
          this.callRes = 1
        })
      } catch (err) {
        this.callRes = 3
      }
    },
    getRequest () {
      try {
        this.getRequestRes = 4
        http.get('/request', ({ data }) => {
          if (data.hasOwnProperty('result')) {
            this.getRequestRes = 1
            this.request = data.result
          } else if (data.hasOwnProperty('errors')) {
            this.getRequestRes = 2
            // this.post_error = data.error
          }
        })
      } catch (err) {
        this.getRes = 3
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.badges {
  text-align: center;
  margin-bottom: 15px;
}
.disabled {
  opacity: 0.2;
}
</style>
