<template>
<div class="container">

  <form width="70%" @submit.prevent="educationalbackground">
    <div class="heading" v-show="!dis">
      <h1 class="title is-3">Educational Background</h1>
      <hr/>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">School</label>
          <div class="control">
            <input name="school" class="input" type="text" v-model="educational_background.school" :disabled="dis"/>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">From</label>
          <div class="control">
            <input name="from" class="input" type="text" v-model="educational_background.from" :disabled="dis"/>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">To</label>
          <div class="control">
            <input name="to" class="input" type="text" v-model="educational_background.to" :disabled="dis"/>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Description</label>
          <p class="control">
            <textarea name="description" class="textarea" placeholder="" v-model="educational_background.description" :disabled="dis"></textarea>
          </p>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <p class="control">
            <label class="checkbox">
              <input name="graduated" type="checkbox" v-model="educational_background.graduated" :disabled="dis">
              Graduate
            </label>
          </p>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Mother Language</label>
          <div class="control">
            <input name="mother_language" class="input" type="text" v-model="educational_background.mother_language" :disabled="dis"/>
          </div>
        </div>
      </div>
    </div>

    <server-response :callRes="this.callRes" :postError="this.post_errors"></server-response>

  </form>
  <button name="submit" class="button is-primary" @click="save" v-if="!dis">Save Changes</button>

</div><!-- container -->
</template>

<script>
import http from '../services/http'
import ServerResponse from './organisms/ServerResponse'

export default {
  name: 'educational_background',
  components: {
    'server-response': ServerResponse
  },
  props: {
    dis: {
      default: false
    },
    id: {
      default: 0
    }
  },
  data () {
    return {
      form_name: 'educational_background',
      callRes: 0,
      post_errors: [],
      educational_background: {
        school: '',
        from: '',
        to: '',
        graduated: '',
        description: '',
        mother_language: ''
      }
    }
  },
  watch: {
    '$route': 'init'
  },
  created () {
    this.init()
  },
  methods: {
    init () {
      this.getFormData()
    },
    async save () {
      try {
        http.post('educational_background', { user: this.educational_background }, ({ data }) => {
          if (data.hasOwnProperty('result')) {
            this.callRes = 1
          } else if (data.hasOwnProperty('errors')) {
            this.callRes = 2
            this.post_errors = data.errors
          }
        })
      } catch (err) {
        this.callRes = 3
      }
    },
    getFormData () {
      try {
        this.getRes = 4
        http.get('/' + this.form_name + (this.dis ? '/' + this.id : ''), ({ data }) => {
          if (data[this.form_name] != null) this[this.form_name] = data[this.form_name]
          this.getRes = 1
        })
      } catch (err) {
        this.getRes = 3
      }
    }
  }

}
</script>
