<template>
  <div>
    <h1 class="title">Events</h1>
    <h2 class="subtitle">View here all events</h2>

    <nav class="level">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle is-5">
          <strong>{{ this.events.length }}</strong> events
        </p>
      </div>
    </div>

    <!-- Right side -->
    <div class="level-right">
      <p v-if="user.current.type === 'Volunteer'" class="level-item"><router-link class="button is-success" to="/home/create_event">Create event</router-link></p>
      </div>
    </nav>

    <loading-placeholder :loading="this.callRes === 4"></loading-placeholder>

    <div v-for="event in events">
      <event-entry :event="event"></event-entry>
    </div>

    <pagination-bar :pages="pages"></pagination-bar>

  </div>
</template>

<script>
import http from '../services/http'
import { range } from 'lodash'
import { userStore } from '../stores/user'
import LoadingPlaceholder from './organisms/LoadingPlaceholder'
import PaginationBar from './organisms/PaginationBar'
import EventEntry from './organisms/EventEntry'

export default {
  components: {
    'event-entry': EventEntry,
    'pagination-bar': PaginationBar,
    'loading-placeholder': LoadingPlaceholder
  },
  data () {
    return {
      events: [],
      user: userStore.state,
      callRes: 0,
      post_error: '',
      total_pages: 1,
      current_page: this.$route.query.page || 1,
      pages: []
    }
  },
  watch: {
    // Refresh component when route changes
    '$route': 'getEvents'
  },
  created () {
    this.getEvents()
  },

  methods: {
    genPages () {
      var temp = this.current_page - 5
      var min = 1
      var max = 1
      if (temp > 0) min = temp
      else {
        max = this.current_page + 5 > this.total_pages ? this.total_pages : this.current_page + 5
      }
      this.pages = range(min, max + 1)
    },
    getEvents () {
      try {
        this.callRes = 4
        this.current_page = this.$route.query.page || 1
        http.get('/event?page=' + this.current_page, ({ data }) => {
          this.events = data.events
          this.total_pages = data.total_pages
          this.callRes = 1
          this.genPages()
        })
      } catch (err) {
        this.callRes = 3
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
