<template>
<div class="container">

  <form width="70%" @submit.prevent="aboutme">
    <div class="heading" v-show="!dis">
      <h1 class="title is-3">Health Lifestyle</h1>
      <hr/>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Do you have any allergies?</label>
          <p class="control">
            <label class="radio">
              <input name="allergies" type="radio" value=true v-model="health_lifestyle.allergies" :disabled="dis">
              Yes
            </label>
            <label class="radio">
              <input name="allergies" type="radio" value=false v-model="health_lifestyle.allergies" :disabled="dis">
              No
            </label>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Do you have any handicaps?</label>
          <p class="control">
            <label class="radio">
              <input name="handicaps" type="radio" value=true v-model="health_lifestyle.handicaps" :disabled="dis">
              Yes
            </label>
            <label class="radio">
              <input name="handicaps" type="radio" value=false v-model="health_lifestyle.handicaps" :disabled="dis">
              No
            </label>
          </p>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Are you allergic to some pets?</label>
          <p class="control">
            <label class="radio">
              <input name="pets" type="radio" value=true v-model="health_lifestyle.pets" :disabled="dis">
              Yes
            </label>
            <label class="radio">
              <input name="pets" type="radio" value=false v-model="health_lifestyle.pets" :disabled="dis">
              No
            </label>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Do you have any dietary restrictions?</label>
          <p class="control">
            <label class="radio">
              <input name="diet" type="radio" value=true v-model="health_lifestyle.diet" :disabled="dis">
              Yes
            </label>
            <label class="radio">
              <input name="diet" type="radio" value=false v-model="health_lifestyle.diet" :disabled="dis">
              No
            </label>
          </p>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Do you smoke?</label>
          <p class="control">
            <label class="radio">
              <input name="smoking" type="radio" value=true v-model="health_lifestyle.smoking" :disabled="dis">
              Yes
            </label>
            <label class="radio">
              <input name="smoking" type="radio" value=false v-model="health_lifestyle.smoking" :disabled="dis">
              No
            </label>
          </p>
        </div>
      </div>
    </div>

    <server-response :callRes="this.callRes" :postError="this.post_errors"></server-response>

  </form>
  <button name="submit" class="button is-primary" @click="save" v-if="!dis">Save Changes</button>

</div><!-- container -->
</template>

<script>
import http from '../services/http'
import ServerResponse from './organisms/ServerResponse'

export default {
  name: 'health_lifestyle',
  components: {
    'server-response': ServerResponse
  },
  props: {
    dis: {
      default: false
    },
    id: {
      default: 0
    }
  },
  data () {
    return {
      form_name: 'health_lifestyle',
      callRes: 0,
      post_errors: [],
      health_lifestyle: {
        allergies: '',
        pets: '',
        handicaps: '',
        diet: '',
        smoking: ''
      }
    }
  },
  watch: {
    '$route': 'init'
  },
  created () {
    this.init()
  },
  methods: {
    init () {
      this.getFormData()
    },
    async save () {
      try {
        http.post('health_lifestyle', { user: this.health_lifestyle }, ({ data }) => {
          if (data.hasOwnProperty('result')) {
            this.callRes = 1
          } else if (data.hasOwnProperty('errors')) {
            this.callRes = 2
            this.post_errors = data.errors
          }
        })
      } catch (err) {
        this.callRes = 3
      }
    },
    getFormData () {
      try {
        this.getRes = 4
        http.get('/' + this.form_name + (this.dis ? '/' + this.id : ''), ({ data }) => {
          if (data[this.form_name] != null) this[this.form_name] = data[this.form_name]
          this.getRes = 1
        })
      } catch (err) {
        this.getRes = 3
      }
    }
  }

}
</script>
