<template>
  <div>
    <my-navbar></my-navbar>
    <div class="container page">
      <div class="columns">
        <div class="column is-2">

         <div style="text-align: center">
          <i class="fa fa-user-circle fa-6" aria-hidden="true"></i>
          <h1 class="title is-3">{{ user.current.type === 'Family' ? user.current.lastname + "'s" : user.current.firstname + " " + user.current.lastname }}</h1>
          <h2 class="subtitle is-5 utype">{{ user.current.type }}</h2>
         </div>
         <hr />
         <link-sidebar root="/home" :submenus="sidebarData[user.current.type.toLowerCase()]">
        </link-sidebar>
        </div>
        <div class="column is-10">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { userStore } from '../stores/user'
import sidebarData from '../data/sidebar'
import Sidebar from './organisms/Sidebar'
import NavBar from './organisms/NavBar'

export default {
  components: {
    'link-sidebar': Sidebar,
    'my-navbar': NavBar
  },
  data () {
    return {
      user: userStore.state,
      sidebarData: sidebarData
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.utype {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.page {
  margin-top: 4.50rem;
}
.fa-6 {
    font-size: 8em;
}
</style>
