<template>
  <div>
    <h1 class="title">{{ this.type === 'host_families' ? 'Host families' : 'Students' }} requests</h1>
    <h2 class="subtitle">Manage here all requests</h2>

    <nav class="level">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle is-5">
          <strong>{{ this.requests.length }}</strong> requests
        </p>
      </div>
    </div>

    <!-- Right side -->
    <div class="level-right">
      <p class="level-item"><a v-bind:class="{ 'selected': this.request_status === 'pending' }" v-on:click="switch_status('pending')">Pending</a></p>
      <p class="level-item"><a v-bind:class="{ 'selected': this.request_status === 'accepted' }" v-on:click="switch_status('accepted')">Accepted</a></p>
      <p class="level-item"><a v-bind:class="{ 'selected': this.request_status === 'associated' }" v-on:click="switch_status('associated')">Associated</a></p>
      <p class="level-item"><a v-bind:class="{ 'selected': this.request_status === 'rejected' }" v-on:click="switch_status('rejected')">Rejected</a></p>
    </div>
  </nav>

  <hr />

  <loading-placeholder :loading="this.getRes === 4"></loading-placeholder>

  <div v-if="this.request_status === 'associated'">
    <div  v-for="request in requests">
      <associated-request-entry :request="request"></associated-request-entry>
    </div>
  </div>

  <div v-else v-for="request in requests">
    <user-request-entry
      :title="type === 'students' ? request.student_fullname : request.family_lastname"
      :subtitle="type === 'students' ? request.student_state : request.family_state"
      :request="request">
    </user-request-entry>

  </div>

  </div>
</template>

<script>
import http from '../services/http'
import { userStore } from '../stores/user'
import NavBar from './organisms/NavBar'
import LoadingPlaceholder from './organisms/LoadingPlaceholder'
import UserRequestEntry from './organisms/UserRequestEntry'
import AssociatedRequestEntry from './organisms/AssociatedRequestEntry'

export default {
  props: ['type'],
  components: {
    'loading-placeholder': LoadingPlaceholder,
    'my-navbar': NavBar,
    'user-request-entry': UserRequestEntry,
    'associated-request-entry': AssociatedRequestEntry
  },
  data () {
    return {
      user: userStore.state,
      getRes: '',
      get_error: '',
      request_status: 'pending',
      requests: []
      // type : '' is passed by the router
    }
  },
  watch: {
    // Refresh component when route changes
    // As seen here https://router.vuejs.org/en/advanced/data-fetching.html
    '$route': 'load_requests'
  },
  created () {
    this.load_requests()
  },
  methods: {
    load_requests () {
      try {
        this.getRes = 4
        http.get('/request/' + (this.type === 'students' ? 'student' : 'family') + '/' + this.request_status, ({ data }) => {
          if (data.hasOwnProperty('requests')) {
            this.requests = data.requests
            this.getRes = 1
          } else if (data.hasOwnProperty('errors')) {
            this.getRes = 2
            this.get_error = data.error
          }
          this.request = data.result
        })
      } catch (err) {
        this.getRes = 3
      }
    },
    switch_status (newStatus) {
      this.requests = []
      this.request_status = newStatus
      this.load_requests()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.selected {
  color: #000;
  font-weight: bold;
}
</style>
