<template>
<div class="container">
  <form width="70%" @submit.prevent="aboutme">
    <div class="heading">
      <h1 class="title is-3">My Description</h1>
    </div>
    <hr/>

    <div class="field">
      <label class="label">Tell us something about yourself</label>
      <p class="control">
        <textarea name="description" class="textarea" placeholder="I'm ... " v-model="my_description.description"></textarea>
      </p>
    </div>

    <server-response :callRes="this.callRes" :postError="this.post_errors"></server-response>

  </form>
  <button class="button is-primary" @click="save">Save Changes</button>

</div><!-- container -->
</template>

<script>
import http from '../services/http'
import ServerResponse from './organisms/ServerResponse'

export default {
  name: 'my_description',
  components: {
    'server-response': ServerResponse
  },
  data () {
    return {
      form_name: 'my_description',
      my_description: {
        description: ''
      },
      callRes: 0,
      post_errors: []
    }
  },
  watch: {
    '$route': 'init'
  },
  created () {
    this.init()
  },
  methods: {
    init () {
      this.getFormData()
    },
    async save () {
      try {
        http.post('my_description', { user: this.my_description }, ({ data }) => {
          if (data.hasOwnProperty('result')) {
            this.callRes = 1
          } else if (data.hasOwnProperty('errors')) {
            this.callRes = 2
            this.post_errors = data.errors
          }
        })
      } catch (err) {
        this.callRes = 3
      }
    },
    getFormData () {
      try {
        this.getRes = 4
        http.get('/' + this.form_name + (this.dis ? '/' + this.id : ''), ({ data }) => {
          if (data[this.form_name] != null) this[this.form_name] = data[this.form_name]
          this.getRes = 1
        })
      } catch (err) {
        this.getRes = 3
      }
    }
  }

}
</script>
