<template>
  <div>
    <h1 class="title">My Journey Request</h1>
    <h2 class="subtitle">Manage here your journey request</h2>

    <loading-placeholder :loading="this.getRes === 4"></loading-placeholder>

    <div class="columns">
      <div class="column">
        <h3 class="title is-4">Request status</h3>
        <request-status :data="data" :user="user" :request="request" :getRes="getRes"></request-status>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{ user.current.firstname }} {{ user.current.lastname }}</p>
                <p class="subtitle is-6">{{ user.current.email }}</p>
              </div>
            </div>

            <div class="content">
              {{ /* data.my_description.description === '' ? 'Please add your description' :  data.my_description.description */ }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
      <h3 class="title is-4">Your home sweet home</h3>
        <iframe
          width="100%"
          height="350"
          frameborder="0" style="border:0"
          :src="google_url_place" allowfullscreen>
        </iframe>
      </div>
    </div>

    <server-response :callRes="this.postRes" :postError="this.post_errors"></server-response>

    <!-- Main container -->
    <nav class="level" v-show="this.getRes === 2">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-5">
            <strong>Fasten</strong> your seatbelt
          </p>
        </div>
      </div>

      <!-- Right side -->
      <div class="level-right">
        <p class="level-item">
        <button
          name="submit"
          class="button is-primary"
          :disabled="data.uncompleted_sections.length > 0"
          @click="send_request"
          v-bind:class="{ 'is-loading': this.postRes === 4 }">Send Request</button></p>
      </div>
    </nav>
  </div>
</template>

<script>
import http from '../services/http'
import { userStore } from '../stores/user'
import ServerResponse from './organisms/ServerResponse'
import LoadingPlaceholder from './organisms/LoadingPlaceholder'
import RequestStatus from './organisms/RequestStatus'
import requestStatusDescription from '../data/request_status_description'
import formData from '../data/data'

export default {
  components: {
    'server-response': ServerResponse,
    'loading-placeholder': LoadingPlaceholder,
    'request-status': RequestStatus
  },
  data () {
    return {
      user: userStore.state,
      data: formData,
      request_status_description: requestStatusDescription,
      request: {
        status: ''
      },
      postRes: 0,
      getRes: 0,
      post_errors: '',
      google_url_place: 'https://www.google.com/maps/embed/v1/place?key=AIzaSyAgfH3IXjuxhQHAJcw5gKFhbev_sEKJmr4&q=' + userStore.state.current.city + ',' + userStore.state.current.state
    }
  },
  created () {
    this.load_request()
  },
  watch: {
    '$route': 'load_request'
  },
  methods: {
    init () {
      this.load_request()
      this.getData()
    },
    send_request () {
      try {
        this.postRes = 4
        http.post('/request', { }, ({ data }) => {
          if (data.hasOwnProperty('result')) {
            this.postRes = 1
            this.load_request()
          } else if (data.hasOwnProperty('errors')) {
            this.postRes = 2
            this.post_errors = data.errors
          }
        })
      } catch (err) {
        this.postRes = 3
      }
    },
    load_request () {
      try {
        this.getRes = 4
        http.get('/request', ({ data }) => {
          if (data.hasOwnProperty('result')) {
            this.getRes = 1
            this.request = data.result
          } else if (data.hasOwnProperty('errors')) {
            this.getRes = 2
            // this.post_error = data.error
          }
        })
      } catch (err) {
        this.getRes = 3
      }
    },
    getData () {
      try {
        this.callRes = 4
        http.get('/data', ({ data }) => {
          Object.keys(this.data).forEach((k) => { this.data[k].filled = true })
          this.data.uncompleted_sections = data.data.uncompleted_sections
          this.data.uncompleted_sections.forEach((form) => {
            this.data[form]['filled'] = false
          })
          this.callRes = 1
        })
      } catch (err) {
        this.callRes = 3
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
