<template>
<div class="container">

  <form width="70%" @submit.prevent="aboutme">
    <div class="heading" v-show="!dis">
      <h1 class="title is-3">Passport Info</h1>
      <hr/>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input name="firstname" class="input" type="text" v-model="passport_info.firstname" :disabled="dis"/>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Lastname</label>
          <div class="control">
            <input name="lastname" class="input" type="text" v-model="passport_info.lastname" :disabled="dis"/>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Passport Number</label>
          <div class="control">
            <input name="number" class="input" type="text" v-model="passport_info.number" :disabled="dis"/>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Release Date</label>
          <div class="control">
            <input name="release_date" class="input" type="text" v-model="passport_info.release_date" :disabled="dis"/>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Expiration Date</label>
          <div class="control">
            <input name="expiration_date" class="input" type="text" v-model="passport_info.expiration_date" :disabled="dis"/>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Birth Country</label>
          <div class="control">
            <input name="birthday_country" class="input" type="text" v-model="passport_info.birthday_country" :disabled="dis"/>
          </div>
        </div>
      </div>
    </div>

    <server-response :callRes="this.callRes" :postError="this.post_errors"></server-response>

  </form>
  <button name="submit" class="button is-primary" @click="save" v-if="!dis">Save Changes</button>

</div><!-- container -->
</template>

<script>
import http from '../services/http'
import ServerResponse from './organisms/ServerResponse'

export default {
  name: 'passport_info',
  components: {
    'server-response': ServerResponse
  },
  props: {
    dis: {
      default: false
    },
    id: {
      default: 0
    }
  },
  data () {
    return {
      form_name: 'passport_info',
      callRes: 0,
      post_errors: [],
      passport_info: {
        firstname: '',
        lastname: '',
        number: '',
        release_date: '',
        expiration_date: '',
        birthday_country: ''
      }
    }
  },
  watch: {
    '$route': 'init'
  },
  created () {
    this.init()
  },
  methods: {
    init () {
      this.getFormData()
    },
    async save () {
      try {
        http.post('passport_info', { user: this.passport_info }, ({ data }) => {
          if (data.hasOwnProperty('result')) {
            this.callRes = 1
          } else if (data.hasOwnProperty('errors')) {
            this.callRes = 2
            this.post_errors = data.errors
          }
        })
      } catch (err) {
        this.callRes = 3
      }
    },
    getFormData () {
      try {
        this.getRes = 4
        http.get('/' + this.form_name + (this.dis ? '/' + this.id : ''), ({ data }) => {
          if (data[this.form_name] != null) this[this.form_name] = data[this.form_name]
          this.getRes = 1
        })
      } catch (err) {
        this.getRes = 3
      }
    }
  }

}
</script>
