<template>
  <div>
    <h1 class="title">Posts</h1>
    <h2 class="subtitle">Manage here all posts you wrote</h2>

    <nav class="level">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle is-5">
          <strong>{{ this.posts.length }}</strong> posts
        </p>
      </div>
    </div>

    <!-- Right side -->
    <div class="level-right">
      <p class="level-item"><router-link class="button is-success" to="/home/create_post">New</router-link></p>
    </div>
  </nav>

  <hr />

  <loading-placeholder :loading="this.callRes === 4"></loading-placeholder>

  <div v-for="post in posts">
    <post-entry :post="post" :canEdit="true"></post-entry>
  </div>

  <pagination-bar :pages="pages"></pagination-bar>

  </div>
</template>

<script>
import http from '../services/http'
import { range } from 'lodash'
import PostEntry from './organisms/PostEntry'
import LoadingPlaceholder from './organisms/LoadingPlaceholder'
import PaginationBar from './organisms/PaginationBar'

export default {
  components: {
    'pagination-bar': PaginationBar,
    'post-entry': PostEntry,
    'loading-placeholder': LoadingPlaceholder
  },
  data () {
    return {
      posts: [ ],
      callRes: 0,
      post_error: '',
      total_pages: 1,
      current_page: this.$route.query.page || 1,
      pages: []
    }
  },
  watch: {
    // Refresh component when route changes
    '$route': 'getPosts'
  },
  created () {
    this.getPosts()
  },

  methods: {
    genPages () {
      var temp = this.current_page - 5
      var min = 1
      var max = 1
      if (temp > 0) min = temp
      else {
        max = this.current_page + 5 > this.total_pages ? this.total_pages : this.current_page + 5
      }
      this.pages = range(min, max + 1)
    },
    getPosts () {
      try {
        this.callRes = 4
        this.current_page = this.$route.query.page || 1
        http.get('/my_posts?page=' + this.current_page, ({ data }) => {
          this.posts = data.posts
          this.total_pages = data.total_pages
          this.callRes = 1
          this.genPages()
        })
      } catch (err) {
        this.callRes = 3
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
