<template>
<div class="container">
  <div class="section">
    <form width="70%" @submit.prevent="save">
      <div class="heading">
        <h1 class="title is-3">Program Preference</h1>
      </div>
      <hr/>

      <div class="field">
        <div class="control has-icon">
          <input name="country" class="input" placeholder="Country" v-model="program_preference.country" />
          <span class="icon is-small is-left">
              <i class="fa fa-globe"></i>
            </span>
        </div>
      </div>

      <server-response :callRes="this.callRes" :postError="this.post_errors"></server-response>

      <button class="button is-primary" type="submit">Save Changes</button>
    </form>
  </div><!-- section -->
</div><!-- container -->
</template>

<script>
import http from '../services/http'
import ServerResponse from './organisms/ServerResponse'

export default {
  name: 'program_preference',
  components: {
    'server-response': ServerResponse
  },
  props: {
    dis: {
      default: false
    },
    id: {
      default: 0
    }
  },
  data () {
    return {
      form_name: 'program_preference',
      country: '',
      callRes: 0,
      error: '',
      post_errors: [],
      program_preference: {
        country: ''
      }
    }
  },
  watch: {
    '$route': 'init'
  },
  created () {
    this.init()
  },
  methods: {
    init () {
      this.getFormData()
    },
    save () {
      try {
        http.post('country', { country: this.country }, ({ data }) => {
          if (data.hasOwnProperty('result')) {
            this.callRes = 1
          } else if (data.hasOwnProperty('errors')) {
            this.callRes = 2
            this.post_errors = data.errors
          }
        })
      } catch (e) {
      }
    },
    getFormData () {
      try {
        this.getRes = 4
        http.get('/country' + (this.dis ? '/' + this.id : ''), ({ data }) => {
          if (data[this.form_name] != null) this[this.form_name] = data[this.form_name]
          this.getRes = 1
        })
      } catch (err) {
        this.getRes = 3
      }
    }
  }
}
</script>
