<template>
  <div>

    <section class="header">
      <h1 class="title">{{ this.user.firstname }} {{ this.user.lastname }}</h1>
      <h1 class="subtitle"><small>from</small> {{ this.user.city }}, {{ this.user.state }}</h1>
    </section>

    <div class="container">
      <div class="notification">
        {{ this.my_description.description }}
      </div>
    </div>

    <div class="tabs is-centered">
      <ul v-for="form in forms">
        <li v-bind:class="{ 'is-active': form_selected === form.link }">
          <router-link :to='form.link' v-on:click.native="switchForm(form.link)">
            <span class="icon is-small"><i :class="'fa ' + form.image"></i></span>
            <span>{{ form.name }}</span>
          </router-link>
        </li>
      </ul>
    </div>

    <router-view :id="this.$route.params.id"></router-view>

  </div>
</template>

<script>
import http from '../services/http'
import NavBar from './organisms/NavBar'

export default {
  components: {
    'my-navbar': NavBar
  },

  created () {
    this.getUser()
  },

  data () {
    return {
      user: '',
      callRes: 0,
      post_error: '',
      form_selected: this.$route.name,
      forms: [
        {
          link: 'about_me',
          name: 'About Me',
          image: 'fa-user'
        },
        {
          link: 'educational_background',
          name: 'Educational Background',
          image: 'fa-graduation-cap'
        },
        {
          link: 'health_lifestyle',
          name: 'Health Lifestyle',
          image: 'fa-user-md'
        },
        {
          link: 'passport_info',
          name: 'Passport Info',
          image: 'fa-plane'
        }
      ],
      my_description: {
        description: ''
      }
    }
  },

  methods: {
    getUser () {
      try {
        this.callRes = 4
        http.get('/users/' + this.$route.params.id, ({ data }) => {
          if (data.hasOwnProperty('user')) {
            this.user = data.user
            this.callRes = 1
          } else if (data.hasOwnProperty('errors')) {
            this.callRes = 2
            this.post_error = data.error
          }
        })
        http.get('/my_description/' + this.$route.params.id, ({ data }) => {
          if (data.hasOwnProperty('my_description') && data.my_description !== null) {
            this.my_description = data.my_description
            this.callRes = 1
          } else if (data.hasOwnProperty('errors')) {
            this.callRes = 2
            this.post_error = data.error
          }
        })
      } catch (err) {
        this.callRes = 3
      }
    },
    switchForm (selectedForm) {
      this.form_selected = selectedForm
    }
  }
}
</script>
<style scoped>
.header {
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid lightgrey;
}
</style>
