<template>
  <div>
    <my-navbar></my-navbar>

    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
        <h1 class="title">{{ this.post.title }}</h1>
        <h1 class="subtitle">by {{ this.post.author }} <small>Published on 14, May, 2017</small></h1>
        </div>
      </div>
    </section>

    <div class="container">
      <div class="notification">
        <div v-html="this.post.content"></div>
      </div>
    </div>


  </div>
</template>

<script>
import http from '../services/http'
import NavBar from './organisms/NavBar'

export default {
  components: {
    'my-navbar': NavBar
  },

  created () {
    this.getPost()
  },

  data () {
    return {
      post: ''
    }
  },

  methods: {
    getPost () {
      try {
        this.callRes = 4
        http.get('/post/' + this.$route.params.id, ({ data }) => {
          if (data.hasOwnProperty('result')) {
            this.post = data.result
            this.callRes = 1
          } else if (data.hasOwnProperty('errors')) {
            this.callRes = 2
            this.post_errors = data.errors
          }
        })
      } catch (err) {
        this.callRes = 3
      }
    }
  }
}
</script>
