<template>
<div>
  <div class="cover colored">
    <login-navbar></login-navbar>
    <div class="columns">
      <div class="column">
      </div>
      <div class="column container">
        <div class="card card-margin">
          <div class="card-header">
            <div class="card-header-title">
              <h1 class="title is-3">Signup</h1>
            </div>
          </div>
          <div class="card-content">
            <form @submit.prevent="signup">
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label">Experience</label>
                    <p class="control">
                      <label class="radio">
                          <input type="radio" value="student" name="exptype" v-model="user.utype">
                          Student
                        </label>
                      <label class="radio">
                          <input type="radio" value="family" name="exptype" v-model="user.utype">
                          Family
                        </label>
                      <label class="radio">
                          <input type="radio" value="volunteer" name="exptype" v-model="user.utype">
                          Volunteer
                        </label>
                    </p>
                  </div>

                  <div class="columns">
                    <div class="column">
                      <div class="field">
                        <div class="control">
                          <input class="input" placeholder="Firstname" type="text" name="firstname" v-model="user.firstname" />
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="field">
                        <div class="control">
                          <input class="input" placeholder="Last Name" type="text" name="lastname" v-model="user.lastname" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <div class="control has-icon">
                      <input v-validate="'required|email'" placeholder="Email" name="email" class="input" v-model="user.email" />
                      <span class="icon is-small is-left">
                          <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                  </div>

                  <div class="field">
                    <div class="control has-icon">
                      <input class="input" placeholder="Email Confirmation" type="email" name="email_confirmation" v-model="user.email_confirmation" />
                      <span class="icon is-small is-left">
                          <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                  </div>

                  <div class="columns">
                    <div class="column">
                      <div class="field">
                        <div class="control has-icon">
                          <input class="input" placeholder="Password" type="password" name="password" v-model="user.password" />
                          <span class="icon is-small is-left">
                              <i class="fa fa-key"></i>
                            </span>
                        </div>
                      </div>
                    </div>

                    <div class="column">

                      <div class="field">
                        <div class="control has-icon">
                          <input class="input" placeholder="Password Confirmation" type="password" name="password_confirmation" v-model="user.password_confirmation" />
                          <span class="icon is-small is-left">
                              <i class="fa fa-key"></i>
                            </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <div class="control has-icon">
                      <input class="input" name="birthday" placeholder="Birthday" type="text" v-model="user.birthday" />
                      <span class="icon is-small is-left">
                          <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Gender</label>
                    <p class="control">
                      <label class="radio">
                          <input type="radio" name="gender" value="M" v-model="user.gender">
                          M
                        </label>
                      <label class="radio">
                          <input type="radio" name="gender" value="F" v-model="user.gender">
                          F
                        </label>
                    </p>
                  </div>

                  <hr />

                  <div class="columns">
                    <div class="column">
                      <div class="field">
                        <div class="control">
                          <input class="input" placeholder="State" type="text" name="state" v-model="user.state" />
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="field">
                        <div class="control">
                          <input class="input" placeholder="City" type="text" name="city" v-model="user.city" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <div class="control">
                      <input class="input" placeholder="Address" type="text" name="address" v-model="user.address" />
                    </div>
                  </div>

                  <div class="field">
                    <p class="control">
                      <label class="checkbox">
                        <input name="email_notification" type="checkbox" v-model="user.email_notification">
                        Receive emails
                      </label>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control">
                      <label class="checkbox">
                        <input name="sms_notification" type="checkbox" v-model="user.sms_notification">
                        Receive sms
                      </label>
                    </p>
                  </div>

                  <article class="message is-success" v-show="callRes === 1">
                    <div class="message-body">
                      <p>Congrats! Your signup succeded. Your sign-in email is <strong>{{result.email}}</strong>.</p>
                      <p>Please check your inbox for activating your account!</p>
                    </div>
                  </article>

                  <article class="message is-danger" v-show="callRes === 2">
                    <div class="message-body">
                      <ul>
                        <li v-for="error in post_errors">
                          {{error}}
                        </li>
                      </ul>
                    </div>
                  </article>

                  <article class="message is-danger" v-show="callRes === 3">
                    <div class="message-body">
                      Oh snap. Something went wrong on our end. Maybe you should check your connection
                    </div>
                  </article>

                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button class="button is-primary card-footer-item is-outlined" v-bind:class="{'is-loading': this.callRes == 4}" name="signup" @click="signup" :disabled="!formDirty">Let's go!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { userStore } from '../stores/user'
import Toaster from './atoms/Toaster'
import LoginNavBar from './organisms/LoginNavBar'
import ServerResponse from './organisms/ServerResponse'

export default {
  name: 'signup',
  components: {
    'toaster': Toaster,
    'login-navbar': LoginNavBar,
    'server-response': ServerResponse
  },
  data () {
    return {
      user: {
        utype: 'student',
        firstname: '',
        lastname: '',
        email: '',
        email_confirmation: '',
        password: '',
        password_confirmation: '',
        birthday: '',
        gender: '',
        city: '',
        state: '',
        address: '',
        sms_notification: false,
        email_notification: false
      },
      result: {
        email: ''
      },
      // errors: [],
      post_errors: [],
      callRes: 0
    }
  },

  methods: {
    async signup () {
      try {
        this.callRes = 4
        var result = await userStore.store(this.user)

        if (result.hasOwnProperty(this.user.utype)) {
          // we can redirect the user to the login page or
          // show another page and tell him to check the email
          this.callRes = 1
          this.result.email = result[this.user.utype].email
        } else if (result.hasOwnProperty('errors')) {
          // The errors can be mapped to tooltips.
          this.callRes = 2
          this.post_errors = result.errors
        }
      } catch (err) {
        this.callRes = 3
      }
    }
  },

  computed: {
    formDirty () {
      // are some fields dirty?
      return Object.keys(this.fields).every(key => this.fields[key].valid)
    }
  }

}
</script>

<style scoped>
.colored {
  background-image: linear-gradient(60deg, #2C3E50 0%, #4CA1AF 100%);
}

.opaque {
  background-color: transparent;
}

.card-margin {
  box-shadow: 5px 12px 20px rgba(36, 37, 38, 0.13);
  border-radius: 10px;
  margin: 20px 20px 0px 20px;
}

.cover {
  min-height: 100vh;
  display: block;
}

.brand a:hover {}

form div.column {
  padding-bottom: 0;
}
</style>
<style>
.flatpickr-wrapper {
  width: 100%;
}
</style>
