<template>
  <div class="activate_acc" :class=" { act_acc_open: visible } " @click="clicked">
    {{ message }}
  </div>
</template>

<script>
export default {
  props: ['visible', 'message', 'action'],
  methods: {
    clicked: function () {
      this.$emit('clicked')
    }
  }
}
</script>

<style scoped>
.activate_acc {
  position: absolute;
  z-index: 101;
  top: -50px;
  left: 0;
  right: 0;
  background: #ff3860;
  color: white;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  box-shadow:         0 0 5px black;
  transition: 1s;
}

.act_acc_open {
  top: 0;
}
</style>
