<template>
  <div class="box">

    <div class="level">
      <div class="part level-left">
        <h1 class="subtitle is-6">STUDENT</h1>
        <h2 class="title is-3">{{ request.student_fullname }}</h2>
      </div>

      <div class="part level-right">
        <h1 class="part subtitle is-6">FAMILY</h1>
        <h2 class="title is-3">{{ request.family_lastname}}</h2>
      </div>

    </div>
  </div>
</template>
<script>
export default {
  props: ['request']
}
</script>
<style scoped>
.part {
  display: block;
  width: 50%;
}
</style>
