<template>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <h1 class="title is-3">{{ event.date, "YYYY-DD-MM" | moment("DD") }}</h1>
        <h2 class="subtitle is-6">{{ event.date, "YYYY-DD-MM" | moment("MMM") }}</h2>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ event.title }}</strong> <small>@{{ event.place }} <i>on {{ event.date, "YYYY-DD-MM" | moment("dddd, MMMM Do YYYY") }}</i></small>
            <br>
            {{ event.description }}
          </p>
        </div>
      </div>
    </article>
  </div>
</template>
<script scoped>
import moment from 'moment'

export default {
  props: ['event'],
  filters: {
    moment: function (date, inputFormat, outputFormat) {
      return moment(date).format(outputFormat)
    }
  }
}
</script>
<style scoped>
.box {
  margin-bottom: 15px;
}
</style>
