<template>
  <div class="loading" v-show="loading">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    <p>Big things come to those who wait...</p>
  </div>
</template>
<script scoped>
export default {
  props: ['loading']
}
</script>
<style scoped>
.loading {
  width: 100%;
  text-align: center;
}

.fa {
  font-size: 3rem;
}

p {
  margin-top: 15px;
}

div {
  color: grey;
}
</style>
