<template>
  <nav class="nav has-shadow">
    <toaster :visible="login_res" :message="login_err" v-on:clicked="() => { login_res = false }"></toaster>
    <div class="nav-left">
      <div class="nav-item">
        <router-link class="brand" to="/">Hostfami.ly</router-link>
      </div>
    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      <div class="nav-item">
        <form @submit.prevent="try_login">
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field is-grouped">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="Email" name="login_mail" v-model="login.email">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                  <input class="input" type="password" placeholder="Password" name="login_password" v-model="login.password">
                  <span class="icon is-small is-left">
                    <i class="fa fa-key"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <button name="login" class="button is-primary" type="submit">Login</button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </nav>
</template>

<script>
import { userStore } from '../../stores/user'
import { event } from '../../utils'
import router from '../../router'
import Toaster from '../atoms/Toaster'

export default {

  components: {
    'toaster': Toaster
  },

  data () {
    return {
      login: {
        email: '',
        password: ''
      },
      login_res: false,
      login_err: ''
    }
  },

  methods: {
    async try_login () {
      try {
        var result = await userStore.login(this.login.email, this.login.password)
        if (result.hasOwnProperty('error')) {
          this.login_res = true
          this.login_err = result.error
        } else {
          event.emit('user:loggedin', result.user.id)
          router.push('/home')
        }
      } catch (err) {
        this.login_res = true
        this.login_err = 'Something on our servers is going on'
      }
    }
  }
}
</script>

<style scoped>
  .brand {
    color: #2C3E50;
    font-family: 'Pacifico', cursive;
    font-size: x-large;
  }
</style>
