<template>

    <nav v-if="isLogged()" class="nav has-shadow fixed">
      <div class="container">
        <div class="nav-left">
          <div class="nav-item">
            <router-link to="/" class="brand">Hostfami.ly</router-link>
          </div>
          <router-link class="nav-item is-tab is-hidden-mobile" active-class="is-active"  to="/home/dashboard">Home</router-link>
          <router-link class="nav-item is-tab is-hidden-mobile" active-class="is-active"  to="/home/events">Events</router-link>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item is-tab" @click="logout">Log out</a>
        </div>
      </div>
    </nav>
    <login-nav v-else></login-nav>
</template>

<script>
import { sharedStore } from '../../stores/shared'
import { ls } from '../../services/ls'
import router from '../../router'
import LoginNavBar from './LoginNavBar'

export default {
  components: {
    'login-nav': LoginNavBar
  },
  methods: {
    logout () {
      ls.remove('jwt-token')
      sharedStore.clean()
      router.push('/')
      this.forceReloadWindow()
    },
    forceReloadWindow () {
      window.onbeforeunload = function () {}
      window.location.reload()
    },
    isLogged () {
      return ls.get('jwt-token') !== null
    }
  }
}
</script>

<style scoped>
  .brand {
    font-family: 'Pacifico', cursive;
    font-size: x-large;
  }
  .fixed {
    position: fixed;
    top: 0;
    width: 100%;
  }
</style>
