<template>
  <nav v-if="pages.length > 1" class="pagination is-centered">
    <ul class="pagination-list">
      <div v-for="page in pages">
        <li><router-link :to="{ path: '', query: { page: page }}" class="pagination-link">{{ page }}</router-link></a></li>
      </div>
    </ul>
  </nav>
</template>
<script>
export default {
  props: ['pages']
}
</script>
