<template>
  <div class="box" v-show="this.deleteRes != 1">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <span class="title is-4"><router-link :to="'/post/' + post.id">{{ post.title }}</router-link><small>{{ post.state }}</small> <small>written on {{ post.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</small></span>
            <br />
            <span class="subtitle is-5" v-show="!canEdit"><small>by</small> {{ post.author }}</span>
            {{ post.excerpt }}
          </p>
        </div>
        <nav class="level is-mobile" v-show="canEdit">
          <div class="level-left"></div>
          <div class="level-right">
            <router-link :to="'edit_post/' + post.id" class="level-item">
              <span class="icon is-small"><i class="fa fa-pencil-square-o"></i></span>
            </router-link>
            <a v-on:click="delete_post" class="level-item">
              <span class="icon is-small"><i class="fa fa-trash-o"></i></span>
            </a>
          </div>
        </nav>
      </div>
    </article>
  </div>
</template>
<script scoped>
import moment from 'moment'
import http from '../../services/http'

export default {
  props: ['post', 'canEdit'],
  filters: {
    moment: function (date, outputFormat) {
      return moment(date).format(outputFormat)
    }
  },
  data () {
    return {
      delete_errors: [],
      deleteRes: 0
    }
  },
  methods: {
    delete_post () {
      try {
        http.delete('/post/' + this.post.id, {}, ({ data }) => {
          this.deleteRes = 1
          this.forceReloadWindow()
        })
      } catch (err) {
        this.deleteRes = 3
      }
    },
    forceReloadWindow () {
      window.onbeforeunload = function () {}
      window.location.reload()
    }
  }
}
</script>
<style scoped>
.box {
  margin-bottom: 15px;
}
small {
  font-size: 13px;
  font-weight: 300;
}
.title {
  font-weight: 400;
}
</style>
