<template>
  <article class="message" v-bind:class="{
      'is-warning': this.request.status === 'pending',
      'is-primary': this.request.status === 'accepted',
      'is-danger': this.request.status === 'rejected',
      'is-successful': this.request.status === 'associated'
    }">
    <div class="message-header">
      <p class="request-status">{{ this.getRes === 2 ? 'No request yet' : this.request.status }}</p>
      <p>
        <span v-show="user.current.type === 'Student'" class="icon is-small"><i v-bind:class="{ 'disabled': !data.about_me.filled }" class="fa fa-user"></i></span>
        <span v-show="user.current.type === 'Student'" class="icon is-small"><i v-bind:class="{ 'disabled': !data.educational_background.filled }" class="fa fa-graduation-cap"></i></span>
        <span class="icon is-small"><i v-bind:class="{ 'disabled': !data.health_lifestyle.filled }" class="fa fa-user-md"></i></span>
        <span v-show="user.current.type === 'Student'" class="icon is-small"><i v-bind:class="{ 'disabled': !data.passport_info.filled }" class="fa fa-id-card"></i></span>
        <span v-show="user.current.type === 'Student'" class="icon is-small"><i v-bind:class="{ 'disabled': !data.program_preference.filled }" class="fa fa-plane"></i></span>
        <span v-show="user.current.type === 'Student'" class="icon is-small"><i v-bind:class="{ 'disabled': !data.my_description.filled }" class="fa fa-pencil"></i></span>
      </p>
    </div>
    <div class="message-body">
      {{ this.getRes === 2 ? 'Start filling your data to send a journey request' : request_status_description[this.request.status] }}
    </div>
  </article>
</template>
<script>
import requestStatusDescription from '../../data/request_status_description'

export default {
  props: ['user', 'request', 'getRes', 'data'],
  data () {
    return {
      request_status_description: requestStatusDescription
    }
  }
}

</script>
<style scoped>
.disabled {
  opacity: 0.2;
}
.request-status:first-letter {
  text-transform:uppercase;
}
</style>
