<template>

  <div>
    <article class="message is-success" v-show="callRes === 1">
      <div class="message-body">
        <p>{{ typeof this.successfulMessage == 'undefined' ? 'OK! Information saved!' : successfulMessage }}</p>
      </div>
    </article>


    <article class="message is-danger" v-show="callRes === 2">
      <div class="message-body">
        <ul v-if="typeof this.postError === 'object'">
          <li v-for="error in postError">
            {{error}}
          </li>
        </ul>
        <p v-else>
          {{ postError }}
        </p>
      </div>
    </article>

    <article class="message is-danger" v-show="callRes === 3">
      <div class="message-body">
        Oh snap. Something went wrong on our end. Maybe you should check your connection
      </div>
    </article>
  </div>
</template>
<script scoped>
export default {
  props: ['callRes', 'postError', 'successfulMessage']
}
</script>
