<template>
  <aside class="menu">
    <div v-for="(links, submenu) in submenus">
      <p class="menu-label">
        {{ submenu }}
      </p>
      <ul class="menu-list">
        <li v-for="(link, label) in links">
          <router-link :to="root + '/' + link" active-class="is-active">{{label}}</router-link>
        </li>
      </ul>
    </div>
  </aside>
</template>
<script scoped>
export default {
  props: ['submenus', 'root']
}
</script>
<style scoped>
.menu-label:not(:last-child) {
  margin-bottom: 0
}
.menu > div{
  margin-bottom: 14px
}
</style>
