<template>
  <div class="box"  v-if="this.putRes != 1">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1 class="title is-4">{{ title }} <small v-if="this.request.family_id === null">to {{ subtitle }}</small></h1>
        </div>
      </div>
    </article>

    <nav class="level">
      <div class="level-left"></div>

      <!-- Right side -->
      <div class="level-right">
        <p class="level-item"><router-link v-if="this.request.student_id != null" name="review-user" :to="'/home/review_user/' + this.creator_id" class="button is-outlined">Review</router-link></p>
        <p class="level-item"><button name="reject-request" v-if="this.request.status === 'pending'" v-on:click="set_request_status('rejected')" class="button is-danger">Reject</button></p>
        <p class="level-item"><button name="accept-request" v-if="this.request.status === 'pending'" v-on:click="set_request_status('accepted')" class="button is-primary">Accept</button></p>
      </div>
    </nav>

    <server-response :callRes="this.putRes" :postError="this.put_errors"></server-response>
  </div>
</template>
<script scoped>
import http from '../../services/http'
import ServerResponse from './ServerResponse'

export default {
  props: ['title', 'subtitle', 'request'],
  components: {
    'server-response': ServerResponse
  },
  data () {
    return {
      creator_id: this.request.student_id ? this.request.student_id : this.request.family_id,
      putRes: 0,
      put_errors: []
    }
  },
  methods: {
    set_request_status (status) {
      try {
        this.putRes = 4
        http.put('/request/' + this.request.id, { request: { status: status } }, ({ data }) => {
          if (data.hasOwnProperty('result')) {
            this.putRes = 1
          } else if (data.hasOwnProperty('errors')) {
            this.putRes = 2
            this.put_errors = data.errors
          }
        })
      } catch (err) {
        this.callRes = 3
      }
    }
  }
}
</script>
<style scoped>
.box {
  margin-bottom: 15px;
}
h1 small{
  font-size: 14px;
}
.level {
  margin:0;
}
</style>
