<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import { ls } from './services/ls'
import { sharedStore } from './stores/shared'
import { event } from './utils'

export default {
  name: 'app',

  data () {
    return {
      authenticated: false
    }
  },

  mounted () {
  },

  methods: {
    async init () {
      try {
        await sharedStore.init()
      } catch (err) {
        this.authenticated = false
      }
    }
  },

  created () {
    const token = ls.get('jwt-token')

    if (token) {
      this.authenticated = true
      this.init()
    }

    event.on({
      /**
       * When the user logs in, set the whole app to be "authenticated" and initialize it.
       */
      'user:loggedin': () => {
        this.authenticated = true
        this.init()
      }
    })
  }

}
</script>

<style lang='css'>
  @import '../node_modules/bulma/css/bulma.css';
</style>
